---
const { logo, text } = Astro.props;
---

<li>
  <ion-icon name={logo}></ion-icon>
  <p>{text}</p>
</li>

<style lang="scss">
  @import "../../styles/breakpoints.scss";

  li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
  }

  ion-icon {
    --size: 24px;

    height: var(--size);
    width: var(--size);
    flex-shrink: 0;
  }

  li p {
    font-size: clamp(0.8rem, 2vw, 1rem);
    line-height: 1.4rem;
    font-weight: 300;
  }

  @media only screen and (max-width: $breakpoint-sl) {
    li {
      flex-direction: column;
      gap: 4px;
      max-width: 400px;

      ion-icon {
        --size: 16px;

        height: var(--size);
        width: var(--size);
      }

      p {
        text-align: center;
      }
    }
  }
</style>
