---
import { Strings } from "../../constants";
import BaselineItem from "./BaselineItem.astro";

class BaselineData {
  readonly text: string;
  readonly logo: string;

  constructor(text: string, logo: string) {
    this.text = text;
    this.logo = logo;
  }
}

const baselineItems: BaselineData[] = [
  new BaselineData(Strings.homeSectionBaseline, "ribbon"),
  new BaselineData("Anglais > français", "earth"),
  new BaselineData("Italien > français", "earth"),
];
---

<section>
  <div class="content">
    <h2>Bienvenue sur le site de</h2>
    <h1>{Strings.siteTitle}</h1>
    <ul>
      {
        baselineItems.map((item) => (
          <BaselineItem text={item.text} logo={item.logo} />
        ))
      }
    </ul>
  </div>
</section>

<style lang="scss">
  @import "../../styles/breakpoints.scss";

  section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: var(--bg-radial), var(--bg-linear),
      url(/images/backgrounds/bg-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .content {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
    padding: 0 3vw;
    color: var(--color-white);
  }

  h1,
  h2 {
    font-family: var(--font-cursive);
    font-weight: 500;
  }

  h2 {
    font-size: clamp(1.6rem, 4vw, 2.6rem);
  }

  h1 {
    font-size: clamp(3rem, 10vw, 10rem);
    text-wrap: nowrap;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  @media only screen and (max-width: $breakpoint-sl) {
    section .content {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 54%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);

      h1 {
        font-size: 3.8rem;
        margin-bottom: 30px;
      }

      h2 {
        font-size: 2rem;
      }

      ul {
        align-items: center;
      }
    }
  }
</style>
