---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeSection from "../components/home_section/HomeSection.astro";
import ServicesSection from "../components/services_section/ServicesSection.astro";
import { Strings } from "../constants";

const pageTitle = Strings.siteTitle;
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<HomeSection />
		<ServicesSection />
	</main>
</BaseLayout>

<style lang="scss">
	@import "../styles/breakpoints.scss";

	main {
		padding-left: var(--navbar-thickness);
		min-height: 100vh;
		width: 100%;
		overflow-x: hidden;
	}

	@media only screen and (max-width: $breakpoint-sl) {
		main {
			padding-left: 0;
		}
	}
</style>
