---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeSection from "../components/home_section/HomeSection.astro";
import { Strings } from "../constants";

const pageTitle = Strings.siteTitle;
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<HomeSection />
	</main>
</BaseLayout>

<style>
	main {
		padding-left: var(--navbar-width);
		min-height: 100vh;
		width: 100%;
		overflow-x: hidden;
		/* background-color: red; */
	}
</style>
